.App {
  text-align: center;
}

.App-flag {
  height: 30px;
  margin: 2px;
  padding: 0px;
  float: right;
  opacity: 0.5;
}

.App-header {
  background-color: rgb(204, 204, 204);
  border-bottom: 1px solid #999;
  padding: 1px;
}

.App-title {
  color: rgb(61, 61, 61);
  font-size: 1.5em;
}

.App-quizz {
  margin: 0 auto;
  width: 1200px;
  padding: 10px;
}

.App-question {
  background-color: #fff;
  border: 1px solid #83beec;
  border-bottom: 4px solid #0078d7;
  height: 120px;
  line-height: 120px;
  text-align: center;
  width: 550px;
  padding: 20px;
  font-weight: normal;
  font-family: "Segoe UI";
  font-size: 40px;
  color: #666;
}
.App-question span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.App-answer {
  background-color: #f2f8fc;
  border: 1px solid #83beec;
  height: 120px;
  line-height: 120px;
  text-align: center;
  width: 550px;
  padding: 20px;
  font-weight: normal;
  font-family: "Segoe UI";
  font-size: 40px;
  color: #666;
}
.App-answer span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.answer-success {
  background-color: #f2fcf2;
  border: 1px solid #83ec83;
}

.answer-error {
  background-color: #fcf2f2;
  border: 1px solid #ec8383;
}

.App-log {
  border-top: 20px solid transparent;
  margin: 0 auto;
  width: 1000px;
  height: auto;
  padding: 10px;
}

.App-log table {
  background-color: #eee;
  width:100%;
}
.App-log table th.index {
  width:50px;
}
.App-log table th.word {
  width:100px;
}

.horizontal-stack {
    margin: 0;
    padding: 0;
}

.horizontal-stack li {
  display: block;
  min-width: 50px;
  margin: 0 5px;
  float: left;
}

.striked {
  text-decoration: line-through;
}
.bolded {
  font-weight: bold; 
}

.log-uncompleted {
  outline: 1px solid #ddd; 
  background-color: #fff;
}
.log-success {
  outline: 1px solid #83ec83; 
  background-color: #f2fcf2;
}
.log-error {
  outline: 1px solid #f00;
  background-color: #fcf2f2;
}


.App-scores {
  margin: 0 auto;
  font-weight: normal;
  font-family: "Segoe UI";
  font-size: 40px;
  text-align: right;
}


button.nav {
  border: none;
  cursor: pointer;
  background-color: #f1f1f1;
  color: #666;
  font-size: 40px;
  padding: 0px 16px 4px 16px;
  margin: 0px 30px;
  border-radius: 10%;
} 
button.nav:hover {
  background-color: #ccc;
  color: black;
}
